<h3 class="mt-3 mb-4 text-center">CONSULTAR PROCESOS DE VOTACIÓN</h3>

<hr class="mb-4">

<div [formGroup]="formProcess" class="col-12 col-lg-6 p-4 card-info">

  <mat-form-field class="ml-2 mr-3 w-75">

    <input id="fechaEvento" matInput formControlName="fechaEvento" [matDatepicker]="fechaEvento" disabled placeholder="Fecha de realización de la asamblea">
    <mat-datepicker-toggle id="mat-date" matSuffix [for]="fechaEvento"></mat-datepicker-toggle>
    <mat-datepicker id="fecha-evento-date" #fechaEvento disabled="false"></mat-datepicker>

  </mat-form-field>

    <button id="registrar" [disabled]="formProcess.invalid" (click)="consultar()" type="submit" class="btn btn-primary">
      <!--i class="fa fa-search" aria-hidden="true"></i-->CONSULTAR
    </button>

</div>


<!--Se puede tomar en cuenta la manera en como en el front del core se muestra
sgph-admin/modificar/persona cuando el resultado de la consulta es true-->







<!--div class="container">
  <div class="row bg-white card-info p-4">
    <div class="col-12 text-center mb-2">
      <p class="font-weight-bold titles"> CONSULTAR PROCESO DE VOTACIÓN </p>
    </div>
    <div class="col-12 col-lg-6 col-xl-5 mt-4">

      <mat-form-field class="w-100">

        <input id="fechaEvento" matInput formControlName="fechaEvento" [matDatepicker]="fechaEvento" disabled placeholder="Fecha del evento">
        <mat-datepicker-toggle id="mat-date" matSuffix [for]="fechaEvento"></mat-datepicker-toggle>
        <mat-datepicker id="fecha-evento-date" #fechaEvento disabled="false"></mat-datepicker>

      </mat-form-field>
    </div>

    <div class="row mt-4">
      <div class="col-12 col-lg-4 offset-lg-4  text-center">
        <button id="registrar" [disabled]="formProcess.invalid" (click)="consultar()" class="btn btn-success w-100">
          CONSULTAR
        </button>
        <br>
        <button id="volver" type="button" class="btn btn-link text-dark"> <u [routerLink]="['../../inicio']">Volver</u></button>
      </div>
    </div>


  </div>
</div>

<div class="container">
  <div class="rwo bg-white card-info p-4">

    <div>Ubicar aquí el listado de cosas que se le mostrarán al revisor(mociones), un *ngFor serviría

    </div>

  </div>
</div-->
