<div *ngIf="existeRevisor" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Tenga en cuenta:</strong> Ya tiene un revisor registrado. Si quiere crear uno nuevo, elimine el actual
  <a [routerLink]="['../../delete/support-personal']">Aqui</a>.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="formRevisor" class="mt-4">
  <div formGroupName="revisor" class="row p-5 bg-white card-info">

    <div class="col-12 text-center mb-2">
      <p class="font-weight-bold titles"> REGISTRO DE REVISOR FISCAL </p>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field class="w-100">
        <input matInput formControlName="nombres" id="revisor-nombre" placeholder="Nombre" />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">

      <mat-form-field class="w-100">
        <mat-label> Tipo de documento</mat-label>
        <mat-select formControlName="tipoDocumento" id="tipoDocumento">
          <mat-option id="CC" value="CC">CC</mat-option>
          <mat-option id="CE" value="CE">Cedula de extranjeria</mat-option>
          <mat-option id="Pasaporte" value="Pasaporte">Pasaporte</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-12 col-md-6">
      <mat-form-field class="w-100">
        <input matInput formControlName="numeroDocumento" id="revisor-numero-documento" placeholder="Número de documento">
      </mat-form-field>

    </div>

    <div class="col-12 col-md-6">
      <mat-form-field class="w-100">
        <input matInput formControlName="email" id="revisor-email" placeholder="Correo electrónico">
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field class="w-100">
        <input matInput formControlName="password" id="revisor-pass" type="password" placeholder="Contraseña">
      </mat-form-field>
    </div>
  </div>
</form>

<div class="text-center col-12 col-lg-4 offset-lg-4 mt-3">
  <button [disabled]="existeRevisor || formRevisor.invalid" (click)="registrarRevisor()" class="btn btn-primary w-50" id="registrar-admin" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
    REGISTRAR
  </button>
  <br>
  <button type="button" class="btn btn-link text-dark">
    <u [routerLink]="['../../inicio']">Volver</u>
  </button>
</div>
