<form [formGroup]="formPoder" class="mt-4">
  <div formGroupName="poder" class="row p-5 bg-white card-info">

    <div class="col-12 text-center mb-2">
      <p class="font-weight-bold titles"> REGISTRO DE PODERES CEDIDOS </p>
    </div>

    <div class="col-6 col-md-6">
      <mat-form-field class="w-100">
        <mat-label> Tipo de documento/propietario</mat-label>
        <mat-select formControlName="tipoDocumentoPropietario" id="tipoDocumentoPropietario">
          <mat-option id="CCProp" value="CC">CC</mat-option>
          <mat-option id="CEProp" value="CE">Cedula de extranjeria</mat-option>
          <mat-option id="PasaporteProp" value="Pasaporte">Pasaporte</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-6 col-md-6">
      <mat-form-field class="w-100">
        <input matInput formControlName="numeroDocumentoPropietario" id="numero-documento-prop" placeholder="No. documento/propietario">
      </mat-form-field>
    </div>

    <div class="col-6 col-md-6">
      <mat-form-field class="w-100">
        <input matInput formControlName="nombres" id="designaod-nombre" placeholder="Nombre(s) designado" />
      </mat-form-field>
    </div>

    <div class="col-6 col-md-6">
      <mat-form-field class="w-100">
        <input matInput formControlName="apellidos" id="designado-apellido" placeholder="Apellido(s) designado" />
      </mat-form-field>
    </div>

    <div class="col-6 col-md-6">
      <mat-form-field class="w-100">
        <mat-label> Tipo de documento/designado</mat-label>
        <mat-select formControlName="tipoDocumento" id="tipoDocumento">
          <mat-option id="CC" value="CC">CC</mat-option>
          <mat-option id="CE" value="CE">Cedula de extranjeria</mat-option>
          <mat-option id="Pasaporte" value="Pasaporte">Pasaporte</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-6 col-md-6">
      <mat-form-field class="w-100">
        <input matInput formControlName="numeroDocumento" id="designado-numero-documento" placeholder="No. documento/designado">
      </mat-form-field>
    </div>

  </div>
</form>

<div class="text-center col-12 col-lg-4 offset-lg-4 mt-3">
  <button [disabled]="formPoder.invalid" (click)="registrarPoder()" class="btn btn-primary w-50" id="registrar-poder" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
    REGISTRAR
  </button>
  <br>
  <button type="button" class="btn btn-link text-dark">
    <u [routerLink]="['../../inicio']">Volver</u>
  </button>
</div>
