<h4 class="text-muted mb-4">Bienvenido, Revisor Fiscal de
  <strong id="ph-nombre">{{this.userService.getUsuarioControl().nombrePH}}</strong>
</h4>
<br>
<h3 class="mt-3 mb-4 text-center">RESUMEN DE LOS PROCESOS DE VOTACIÓN</h3>

<hr class="mb-4">

<div *ngIf="data.length">
  <div *ngFor="let resultado of data;">
    <div class="row pt-3 pb-0 bg-white card-info">
      <div class="col-12 text-center mb-2">
        <p class="font-weight-bold titles">{{resultado.titulo}}</p>
      </div>
    </div>
    <div class="row p-3 bg-white card-info">
        <div class="text-center d-grid d-md-block justify-content-around mx-auto">
          <p class="col-12" *ngFor="let descripcion of resultado.descripciones; index as i;">
            La proposición <b>{{descripcion}}</b> obtuvo un <b>{{resultado.coeficientesPorOpcion[i]}}%</b> del total
            del quorum de la asamblea y un total de <b>{{resultado.votosPorOpcion[i]}}</b> votos.
          </p>
          <button type="button" class="btn btn-outline-primary" (click)="detalles(resultado.idMocion)">Ver detalles</button>
        </div>
    </div>

  </div>
  <br><br>
</div>

<div *ngIf="!data.length">
  <div class="row p-5 bg-white card-info">
    <div class="col-12 text-center mb-2">
      <p class="font-weight-bold titles"> NO SE ENCONTRARON RESULTADOS. </p>
    </div>
    <p>Asegúrese de que la asamblea de la que intenta obtener resultados se está llevando a cabo o ya ha finalizado</p>
  </div>
</div>
