<h4 class="text-muted mb-4 mt-4">Bienvenido, Revisor Fiscal de
  <strong id="ph-nombre">{{this.userService.getUsuarioControl().nombrePH}}</strong>
</h4>

<div *ngIf="data.length">
  <div *ngFor="let resultado of data;">
    <div class="row pt-5 pb-0 bg-white card-info">
      <div class="col-12 text-center mb-2">
        <p class="font-weight-bold titles">{{resultado.titulo}}</p>
      </div>
    </div>
    <div class="row p-5 bg-white card-info">
      <div class="text-center d-grid d-md-block justify-content-around mx-auto">
        <p class="col-12" *ngFor="let descripcion of resultado.descripciones; index as i;">
          La proposición <b>{{descripcion}}</b> obtuvo un <b>{{resultado.coeficientesPorOpcion[i]}}%</b> del total
          del quorum de la asamblea y un total de <b>{{resultado.votosPorOpcion[i]}}</b> votos.
        </p>
      </div>
    </div>
    <br><br>
  </div>
</div>

<div *ngIf="!data.length">
  <div class="row p-5 bg-white card-info">
    <div class="col-12 text-center mb-2">
      <p class="font-weight-bold titles"> NO SE ENCONTRARON RESULTADOS. </p>
    </div>
    <p>Asegúrese de que la asamblea de la que intenta obtener resultados se está llevando a cabo o ya haya finalizado</p>
  </div>
</div>
<!--Borrar registros de mociones para evitar crash por split(",")-->
