<div *ngIf="!existeMocion">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p>
    <strong>Tenga en cuenta: </strong>
    1. Para registrar un candidato a comité de convivencia o consejo de administración se debe digitar el tipo y número de documento de dicho candidato.
    </p>
    <p>2. El revisor fiscal no puede ser un poseedor de bien(es) en la PH de acuerdo a la ley 675 de 2001.</p>
  </div>

  <form [formGroup]="formCandidato" class="mt-4">
    <div formGroupName="datos" class="row p-5 bg-white card-info">

      <div class="col-12 text-center mb-2">
        <p class="font-weight-bold titles"> REGISTRO DE CANDIDATOS INDIVIDUALES</p>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field class="w-100">
          <input matInput formControlName="titulo" id="titulo" placeholder="Ingrese título de la moción">
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field class="w-100">
          <mat-label> Tipo de moción</mat-label>
          <mat-select formControlName="tipo" id="tipo" (selectionChange)="tipoValue($event.value)">
            <mat-option id="ADMINISTRADOR" value="ADMINISTRADOR">Elección de administrador</mat-option>
            <mat-option id="CONSEJO_ADMIN" value="CONSEJO_ADMIN">Elección de consejo de administación</mat-option>
            <mat-option id="COMITE_CONVIVENCIA" value="COMITE_CONVIVENCIA">Elección de comité de convivencia</mat-option>
            <mat-option id="REVISOR" value="REVISOR">Elección de revisor fiscal</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6" *ngIf="needTipoYNumero">
        <mat-form-field class="w-100">
          <mat-label> Tipo de documento</mat-label>
          <mat-select formControlName="tipoDocumento" id="tipoDocumento">
            <mat-option id="CC" value="CC">CC</mat-option>
            <mat-option id="CE" value="CE">Cedula de extranjeria</mat-option>
            <mat-option id="Pasaporte" value="Pasaporte">Pasaporte</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6" *ngIf="needTipoYNumero">
        <mat-form-field class="w-100">
          <input matInput formControlName="numeroDocumento" id="revisor-numero-documento" placeholder="Número de documento">
        </mat-form-field>
      </div>

      <div class="col-12 col-lg-6" *ngIf="!needTipoYNumero">
        <mat-form-field class="w-100">
          <input matInput formControlName="candidato" id="candidato" placeholder="Ingrese candidato ">
        </mat-form-field>
      </div>

    </div>
  </form>

  <div class="text-center col-12 col-lg-4 offset-lg-4 mt-3">
    <button (click)="addCandidate()" class="btn btn-outline-secondary w-50" id="add" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      AGREGAR
    </button>
    <br>
  </div>

  <br><br>

  <div *ngIf="this.candidates.length != 0" class="col-12">
    <mat-table [dataSource]="this.candidates" matSort class="mat-elevation-z2 w-100">
      <ng-container matColumnDef="candidatos">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Lista de candidatos </mat-header-cell>
        <mat-cell *matCellDef="let element" id="item-proposicion">
          <span class="mobile-label"> Candidato</span>
          <span class="overflow-auto">
            {{element}}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label"> Acciones:</span>
          <button type="button" class="btn btn-outline-dark" (click)="deleteCandidate(element)">
            Eliminar
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

  <div class="text-center col-12 col-lg-4 offset-lg-4 mt-3">
    <button (click)="submitMocion()" class="btn btn-outline-success w-50" id="registrar" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      REGISTRAR CANDIDATOS
    </button>
    <br>
    <button type="button" class="btn btn-link text-dark">
      <u [routerLink]="['../../inicio']">Volver</u>
    </button>
  </div>
</div>
<div *ngIf="existeMocion">
  <div class="row p-5 bg-white card-info">
    <div class="col-12 text-center mb-2">
      <p class="font-weight-bold titles"> INHABILITAR RECEPCIÓN DE VOTACIONES </p>
    </div>
    <p>Con el siguiente botón usted podrá detener las votaciones para la moción que se
      realiza actualmente.</p>
    <div class="text-center col-12 col-lg-4 offset-lg-4 mt-3">
      <button (click)="detenerVotaciones()" class="btn btn-primary w-50" id="registrar-admin" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
        INHABILITAR
      </button>
      <br>
      <button type="button" class="btn btn-link text-dark">
        <u [routerLink]="['../../inicio']">Volver</u>
      </button>
    </div>
  </div>
</div>
