<form [formGroup]="formAnuncio">
  <div class="container">
    <div class="row bg-white card-info p-4">

      <div class="col-12 text-center mb-2">
        <p class="font-weight-bold titles"> REGISTRO DE ANUNCIOS </p>
      </div>

      <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
        <mat-form-field class="w-100">
          <input id="titulo" matInput formControlName="titulo" placeholder="Título" />
        </mat-form-field>
      </div>

      <div class="col-12 col-lg-6 col-xl-5">
        <mat-form-field class="w-100">
          <mat-label> Tipo de anuncio</mat-label>
          <mat-select id="tipo" formControlName="tipo">
            <mat-option id="info" value="info">Informativo</mat-option>
            <mat-option id="light" value="light">Convocatoria</mat-option>
            <mat-option id="danger" value="danger">Urgente</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 col-lg-6 col-xl-5 offset-xl-1 mt-4">
        <mat-form-field class="w-100">
          <mat-label> Dirigido a</mat-label>
          <mat-select id="dirigido" formControlName="dirigido">
            <mat-option id="PROPIETARIO" value="PROPIETARIO">Propietarios</mat-option>
            <mat-option id="RESIDENTE" value="RESIDENTE">Residentes</mat-option>
            <mat-option id="CONSEJO" value="CONSEJO">Consejo de administración</mat-option>
            <mat-option id="TODOS" value="TODOS">Todos</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 col-lg-6 col-xl-5 mt-4">

        <mat-form-field class="w-100">

          <input id="fechaEvento" matInput formControlName="fechaEvento" [matDatepicker]="fechaEvento" placeholder="Fecha del evento">
          <mat-datepicker-toggle id="mat-date" matSuffix [for]="fechaEvento"></mat-datepicker-toggle>
          <mat-datepicker id="fecha-evento-date" #fechaEvento></mat-datepicker>

        </mat-form-field>
      </div>

      <div class="col-12 col-lg-6 col-xl-5 offset-xl-1 mt-4">
        <mat-form-field class="w-100">
          <textarea id="mensaje"  formControlName="mensaje" matInput placeholder="Ingrese mensaje"></textarea>
        </mat-form-field>
      </div>

      <!-- <div class="col-12 col-lg-6 col-xl-5 mt-4">

         <div class="custom-file">
          <input (change)="onFileSelect($event)" type="file" class="custom-file-input" id="inputGroupFile04"
            aria-describedby="inputGroupFileAddon04">
          <label class="custom-file-label" for="inputGroupFile04">{{fileName}}</label>
        </div>
      </div> -->

    </div>

    <div class="row mt-4">
      <div class="col-12 col-lg-4 offset-lg-4  text-center">
        <button id="registrar" [disabled]="formAnuncio.invalid" (click)="registrar()" class="btn btn-success w-100">
          REGISTRAR
        </button>
        <br>
        <button id="volver" type="button" class="btn btn-link text-dark"> <u [routerLink]="['../../inicio']">Volver</u></button>
      </div>
    </div>
  </div>
</form>
