<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="text-muted mb-4 mt-4">Control del quorum</h4>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-outline-dark mb-4 mt-4" (click)="actualizar()">
        Actualizar Quorum
      </button>
    </div>
  </div>
</div>
<hr>
<div class="row no-gutters">

  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="card-info">
          <canvas id="myPieChart" width="200" height="200"></canvas>
        </div>
      </div>
      <div *ngIf="showPieChart" class="col">
        <div class="col-12 col-lg-10 offset-lg-1 mt-5">
          <div class="alert alert-light text-center" role="alert">
            <h4 class="alert-heading">El actual quorum de la asamblea es {{quorum.toFixed(2)}}%</h4>
          </div>
        </div>
      </div>
      <div *ngIf="!showPieChart" class="col">
        <div class="col-12 col-lg-10 offset-lg-1 mt-5">
          <div class="alert alert-light text-center" role="alert">
            <h4 class="alert-heading">¡No hay asamblea realizandose en este momento!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
