<div *ngIf="!existePH" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Tenga en cuenta:</strong> Los datos de la Propiedad Horizontal a la que pertenece deben ser actualizados. Para actualizar, haga click
  <a (click)="post()">Aqui</a>.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<h4 class="text-muted mb-4 mt-4">Bienvenido, Propiedad Horizontal
  <strong id="ph-nombre">{{this.userService.getUsuario().nombrePH}}</strong>
</h4>
<hr>
<div class="row no-gutters" id="ph-estadisticas">

  <div class="col-6 col-lg-3  mb-2 text-center p-2">
    <div class="card-info">
      <div class="col my-auto">
        <em class="fas fa-users fa-3x" aria-hidden="true"></em>
      </div>

      <div class="col">
        <h1 class="font-weight-bolder">{{data?.numeroResidentes}}</h1>
        <p class="font-16"> <span class="badge badge-success">Residentes</span></p>
      </div>
    </div>
  </div>


  <div class="col-6 col-lg-3 mb-2 text-center p-2">
    <div class="card-info">
      <div class="col my-auto">
        <em class="fas fa-home fa-3x" aria-hidden="true"></em>
      </div>

      <div class="col">
        <h1 class="font-weight-bolder">{{data?.numeroHabitantes}}</h1>
        <p class="font-16"> <span class="badge badge-success">Habitantes</span></p>
      </div>
    </div>
  </div>

  <div class="col-6 col-lg-3   mb-2 text-center p-2">
    <div class="card-info">
      <div class="col my-auto">
        <em class="fas fa-user fa-3x" aria-hidden="true"></em>
      </div>

      <div class="col">
        <h1 class="font-weight-bolder">{{data?.numeroPropietarios}}</h1>
        <p class="font-16"> <span class="badge badge-success">Propietarios</span></p>

      </div>
    </div>
  </div>

  <div class="col-6 col-lg-3  mb-2 text-center p-2">
    <div class="card-info">

      <div class="col my-auto">
        <em class="fas fa-swimming-pool fa-3x"></em>
      </div>

      <div class="col">
        <h1 class="font-weight-bolder">{{data?.numeroBienesComunes}}</h1>
        <p class="font-16"> <span class="badge badge-success">Bienes comunes</span></p>
      </div>
    </div>
  </div>



</div>
<h4 class="text-muted mb-4 mt-4">
  Accesos rápidos
</h4>
<hr>
<div class="row no-gutters">


  <div  class="col-6 col-lg-3  mb-2 p-2 pointer">
    <div [routerLink]="[ '/sgph/listar/bien-privado' ]" class="card-info pt-0 border border-info">
      <div class="col-12 bg-light container-title">
        <span>BIENES PRIVADOS</span>
      </div>

      <div class="col mx-auto mt-3 mb-3 text-center">
        <em class="fas fa-building fa-3x"></em>
      </div>
    </div>
  </div>

  <div  class="col-6 col-lg-3  mb-2 p-2 pointer">
    <div [routerLink]="[ '/sgph/listar/bien-comun' ]" class="card-info pt-0 border border-info">
      <div class="col-12 bg-light container-title">
        <span>BIENES COMUNES</span>
      </div>

      <div class="col mx-auto mt-3 mb-3 text-center">
        <em class="fas fa-swimmer fa-3x"></em>
      </div>
    </div>
  </div>

  <div *ngIf="this.userService.getRol('SUPER_ADMINISTRADOR')"  class="col-6 col-lg-3  mb-2 p-2 pointer">
    <div [routerLink]="[ '/sgph/listar/propietarios' ]" class="card-info pt-0 border border-info">
      <div class="col-12 bg-light container-title">
        <span>PROPIETARIOS</span>
      </div>

      <div class="col mx-auto mt-3 mb-3 text-center">
        <em class="fas fa-user-tie fa-3x"></em>
      </div>
    </div>
  </div>

  <!--div *ngIf="!this.userService.getRol('SUPER_ADMINISTRADOR')" class="col-6 col-lg-3  mb-2 p-2 pointer">
    <div [routerLink]="[ '/sgph/chat' ]" class="card-info pt-0 border border-info">
      <div class="col-12 bg-light container-title">
        <span>CHAT</span>
      </div>

      <div class="col mx-auto mt-3 mb-3 text-center">
        <em class="far fa-comments fa-3x"></em>
      </div>
    </div>
  </div-->


  <!--div   class="col-6 col-lg-3  mb-2 p-2 pointer">
    <div (click)="navigatePHMAN()" class="card-info pt-0 border border-info">
      <div class="col-12 bg-light container-title">
        <span>MÓDULO PHMAN</span>
      </div>

      <div class="col mx-auto mt-3 mb-3 text-center">
        <em class="fas fa-user-shield fa-3x"></em>
      </div>
    </div>
  </div-->

</div>


<h4 class="text-muted mb-4 mt-4">Estadísticas</h4>
<hr>
<div class="row no-gutters">

  <div [ngClass]="{'d-none': showPieChart}" class="col-12 col-md-6 col-xl-5 offset-xl-1 mt-4">

    <div class="card-info">
      <canvas id="myPieChart" width="200" height="200"></canvas>
    </div>

  </div>


  <div [ngClass]="{'d-none': showBars}" class="col-12 col-md-6 col-xl-5 mt-4">

    <div class="card-info">
      <canvas id="myBarChart" width="200" height="200"></canvas>
    </div>

  </div>

  <div *ngIf="showBars && showPieChart" class="col-12 col-lg-10 offset-lg-1 mt-5">
    <div class="alert alert-light text-center" role="alert">
      <h4 class="alert-heading">¡No hay estadísticas para mostrar!</h4>
    </div>
  </div>

</div>
