<div *ngIf="!existeMocion">
  <div class="row p-5 bg-white card-info">
    <div class="col-12 text-center mb-2">
      <p class="font-weight-bold titles"> ESTADO DE LA ASAMBLEA </p>
    </div>
    <p class="text-center">{{data.estado}}</p>
    <div class="text-center col-12 col-lg-4 offset-lg-4 mt-3">
      <br>
      <button type="button" class="btn btn-link text-dark">
        <u [routerLink]="['../../inicio']">Volver</u>
      </button>
    </div>
  </div>
</div>

<div *ngIf="existeMocion">
  <div class="row pt-5 pb-0 bg-white card-info">
    <div class="col-12 text-center mb-2">
      <p class="font-weight-bold titles">{{data.titulo}}</p>
    </div>
  </div>
  <div class="row p-5 bg-white card-info">
    <div class="text-center d-grid d-md-block justify-content-around mx-auto">
      <div class="col">
        <button class="btn btn-primary btn-lg btn-block" type="button" style="display: block;" *ngFor="let opcion of data.opciones;" (click)="sendVote(opcion)">{{opcion}}</button>
        <br>
      </div>
    </div>
  </div>
</div>
